<div class="container">
  <div class="row">
    <header>
      <h1><span class="blue-grey-text text-darken-3">UP</span><span class="purple-text">SU</span>: Society Ranking</h1>
    </header>
  </div>


<div class="row">
  <div class="input-field col s6">
    <input id="search" type="text" class="validate">
    <label for="search">Search</label>
  </div>
</div>


<div class="row">

  <table class="highlight" id='table'>
    <thead>
      <tr>
        <th>Society</th>
        <th># Members</th>
      </tr>
    </thead>

    <tbody>
      {{#each leaderboard}}
        <tr>
          <td>
            <a href="{{this.link}}">{{this.title}}</a>
          </td>
          <td>{{this.members}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
</div>
<script>
  const rows = [...document.getElementsByTagName('tr')];
  const search = document.getElementById('search');
  
  function doSearch(ev) {
    const query = this.value.toLowerCase();
    rows.map(row => row.classList.add('hidden'));
    rows
      .filter(row => row.innerHTML.toLowerCase().includes(query))
      .map(row => row.classList.remove('hidden')); 
  }
  
  search.addEventListener('keyup', doSearch);
</script>